body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* em vez de center */
    padding-top: 5px;      /* ajusta a posição para baixo */
    background: #0b2b1c;
}


.cena {
    position: relative;
    width: 300px;
}

.arvore {
    width: 100%;
    display: block;
}

/* Checkbox abrir carta */
#abrir-carta {
    display: none;
}

/* Presente */
.presente {
    width: 120px;
    position: absolute;
    bottom: 70px;
    left: 40%;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 2;
}

/* Container da carta */
.carta-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.4s ease;
    z-index: 3;
}

/* Mostrar carta */
#abrir-carta:checked ~ .carta-container {
    transform: translate(-50%, -50%) scale(1);
}

/* Imagem da carta */
.carta {
    width: 370px;
    display: block;
}

/* Texto da carta */
.texto-carta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
    font-family: cursive;
    color: #4b2e1e;
    pointer-events: none;
}

/* ---------- SEGUNDA PÁGINA ---------- */
#pagina2 {
    display: none;
}

.pagina2 {
    display: none;
}

#pagina2:checked ~ .carta-container .pagina1 {
    display: none;
}

#pagina2:checked ~ .carta-container .pagina2 {
    display: block;
}

/* ---------- SETA ---------- */
.seta {
    position: absolute;
    right: 1%;
    top: 96%;
    transform: translateY(-50%);
    font-size: 40px;
    cursor: pointer;
    color: #704f3e;
    user-select: none;
    transition: transform 0.2s ease, color 0.2s ease;
}

.seta:hover {
    color: black;
    transform: translateY(-50%) scale(1.1);
}


/* ---------- BOTÃO FECHAR ---------- */
.fechar {
    position: absolute;
    top: 505px;
    right: 340px;
    font-size: 28px;
    color: #704f3e;
    cursor: pointer;
    user-select: none;
    transition: transform 0.2s ease, color 0.2s ease;
}

.fechar:hover {
    color: black;
    transform: scale(1.2);
}

.estrela {
    position: absolute;
    width: 60px;     /* ajuste conforme a árvore */
    top: -530px;      /* sobe acima da árvore */
    left: 12%;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 2;

    /* animação suave */
    transition: transform 0.1s ease;
}

/* efeito de aperto quando clicada */
.estrela:active {
    transform: translateX(-50%) scale(0.8);
}
